target/
.jenesis/
cache/
*.class
/sdk/jenesis/*
!/sdk/jenesis/bin/
!/sdk/jenesis/tests/
/sdk/jpx/*
!/sdk/jpx/bin/
/sdk/*.zip

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Agent specification ###
.claude/
